{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Welcome to A-Team</title>

<style>
	.main {
		padding: 20px;
	}

	.top-div {
		height: 200px; 
		background-image: linear-gradient(93deg, #650aff, #3068ff);
		border-radius: 10px;
		color: white;
		padding: 20px;
		font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	}

	.my-todo {
		background-color: white;
		border-radius: 10px;
		border: 1px solid #650aff;
	}

	th, td {
		padding-right: 20px;
		padding-left: 20px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.thead-dark {
		background-image: linear-gradient(93deg, #650aff, #3068ff);
		color: white;
	}
</style>
{% endblock title %}

{% block content %}

<div class="main">
	{% if alert_message %}
    <div class="alert alert-danger" role="alert">
        {{ alert_message }}
    </div>
    {% endif %}

	<div class="w-100 top-div d-flex flex-column justify-content-end">
        <h3>Welcome to A-Teams, {{user.first_name}}</h3>
    </div>

	<div class="row p-3 mt-3">
		<div class="col-md-4">
			<div class="my-todo d-flex flex-column justify-content-center align-items-center p-3">
				<h6>My To-Do List</h6>

			<table class="mb-3">
				<thead class="thead-dark">
					<tr class="row">
					  <th>Task</th>
					  <th>Deadline</th>
					  <th>Priority</th>
					</tr>
				</thead>
				<tbody>
				<tr class="row">
					<td>{{ all_tasks.0.task }}</td>
					<td>{{ all_tasks.0.deadline }}</td>
					<td>{{ all_tasks.0.importance }}</td>
				</tr>
				</tbody>
			</table>

			<button style="border: 1px solid #650aff;" class="btn"><a style="text-decoration: none;" href="{% url 'todolist' %}">View All</a></button>
			</div>
		</div>

		<div class="col-md-4">
			<div class="my-todo d-flex flex-column justify-content-center align-items-center p-3">
				<h6>Important Tasks</h6>

			<table class="mb-3">
				<thead class="thead-dark">
					<tr class="row">
					  <th>Task</th>
					  <th>Deadline</th>
					  <th>Priority</th>
					</tr>
				</thead>
				<tbody>
				<tr class="row">
					<td>{{ imp_tasks.0.task }}</td>
					<td>{{ imp_tasks.0.deadline }}</td>
					<td>{{ imp_tasks.0.importance }}</td>
				</tr>
				</tbody>
			</table>

			<button style="border: 1px solid #650aff;" class="btn"><a style="text-decoration: none;" href="{% url 'todolist' %}">View All</a></button>
			</div>
		</div>

		<div class="col-md-4">
			<div class="my-todo d-flex flex-column justify-content-center align-items-center p-3">
				<h6>Completed Tasks</h6>

			<table class="mb-3">
				<thead class="thead-dark">
					<tr class="row">
					  <th>Task</th>
					  <th>Deadline</th>
					  <th>Priority</th>
					</tr>
				</thead>
				<tbody>
				<tr class="row">
					<td>{{ com_tasks.0.task }}</td>
					<td>{{ com_tasks.0.deadline }}</td>
					<td>{{ com_tasks.0.importance }}</td>
				</tr>
				</tbody>
			</table>

			<button style="border: 1px solid #650aff;" class="btn"><a style="text-decoration: none;" href="{% url 'todolist' %}">View All</a></button>
			</div>
		</div>

	</div>
</div>

{% endblock content %}

