{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Welcome to A-Team</title>
{% endblock title %}

{% block content %}
<div class="container">
	<div class="row mt-5">
		<div class="col-md-10 offset-md-1">
			<center><p class="h1 text-primary">Quick and Easy to Use!</p></center>
			<center><p class="h2 mt-3">"Plan Your Day, Stay Organized"</p></center>
			<center><p class="h5">A-Team Helps You Keep Track of Your Tasks in One Place.</p></center>
			<center><a href="{% url 'todolist' %}"><button type="button" class="btn btn-primary btn-lg mt-3">Let's Get Started</button></center>
		</div>
</div>
</div>
{% endblock content %}